@charset "utf-8";

/* =========================
   MAIN VISUAL
   ========================= */
.main_visual {
    width: 100%;
    height: 980px;
--main_visual_gutter: clamp(20px, 6vw, 200px);
}

.main_visual .inner {
    max-width: 1920px;
    padding: 0;
    height: 100%;
}

.main_visual .inner .swiper {
    width: 100%;
    height: 100%;
      overflow: hidden;
}

.main_visual .inner .swiper .swiper-wrapper {
    height: 100%;
    display: flex;
}

.main_visual .inner .swiper .swiper-slide {
    height: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main_visual .swiper-slide .txt_box {
    max-width: 1520px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
        padding: 0 var(--main_visual_gutter);   
            box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main_visual .swiper-slide .txt_box h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 58px;
    letter-spacing: -2px;
    color: #ddd;
}

.main_visual .swiper-slide .txt_box>span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    color: #ddd;
}

.main_visual .swiper-slide .txt_box .more {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -1px;
    display: inline-flex;
    padding-top: 4px;
    padding-right: 10px;
    color: #ddd;
}

.main_visual .slide1 .txt_box .more span {
    line-height: normal;
}



.main_visual .slide1 {
    background-image: url("../asset/img/main01.jpg");
}

.main_visual .slide2 {
    background-image: url("../asset/img/main02.jpg");
        --txt-left: 28.645833%;  /* [추가] 550 / 1920 * 100 */
    --txt-top:  61.224490%;  /* [추가] 600 / 980  * 100 */
}

.main_visual .slide3 {
    background-image: url("../asset/img/main03.jpg");
    opacity: 0.6;
        --txt-left: 67.708333%;  /* [추가] 1300 / 1920 * 100 */
    --txt-top:   4.081633%;  /* [추가] 40   / 980  * 100 */
}

.main_visual .slide4 {
    background-image: url("../asset/img/main04.jpg");
     --txt-left:  5.208333%;  /* [추가] 100  / 1920 * 100 */
    --txt-top: -20.408163%;  /* [추가] -200 / 980  * 100 */
}

.main_visual .swiper-slide {
    position: relative;
}

.main_visual .swiper-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.main_visual .swiper-slide .txt_box {
    position: relative;
    z-index: 2;
}

.main_visual .slide2 .txt_box{
  position: absolute;
    top: 600px;
    left: 550px;
    height: auto;
    justify-content: flex-start;
}

.main_visual .slide3 .txt_box{
    position: absolute;
    left: 1300px;
    top: 40px;
}

.main_visual .slide4 .txt_box{
    position: absolute;
    left: 100px;
    top: -200px;
}
.main_visual .slide2 .txt_box,
.main_visual .slide3 .txt_box,
.main_visual .slide4 .txt_box{
    position: absolute; /* [유지] */

    /* [추가] px 대신 변수(%)로 위치 관리 */
    left: var(--txt-left);
    top: var(--txt-top);

    /* [추가]
       - 핵심: 기존 width:100% 때문에 가로 overflow가 생김 -> auto로 변경 */
    width: auto;
max-width: calc(100% - var(--txt-left) - var(--main_visual_gutter));

    /* [추가] absolute에서 불필요한 auto margin 제거(예상치 못한 계산 방지) */
    margin: 0;

    /* [수정]
       - 기존: padding: 0 clamp(...) (좌우 패딩)
       - 변경: 왼쪽 패딩만 유지(텍스트 시작 X좌표 유지), 오른쪽 패딩 제거(폭 증가 방지)
       - 텍스트 위치를 앞으로/뒤로 미세 조정하려면 var(--main_visual_gutter) 값을 조정 */
    padding: 0 0 0 var(--main_visual_gutter);
}

/* [추가]
   - slide2는 기존처럼 "top 기준으로 내려온 위치에서 시작"해야 해서 height/정렬만 유지 */
.main_visual .slide2 .txt_box{
    height: auto;                 /* [유지] */
    justify-content: flex-start;   /* [유지] */
}


/* =========================
   BESTSELLER
   ========================= */
.bestseller {
    width: 100%;
    padding: 190px 0 220px;
}

.bestseller .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestseller .inner h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 4px;
}

.bestseller .inner>span {
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.bestseller .inner ul {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bestseller .inner ul li {
    position: relative;
    overflow: hidden;
    transition: border-radius .3s ease, transform .3s ease;
}

.bestseller .inner ul li:hover {
    border-radius: 80px;
}

.bestseller .inner ul li::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
}

.bestseller ul li .txt_box {
    position: relative;
    z-index: 2;
}

.bestseller .inner ul li:nth-child(1)::before {
    background-image: url("../asset/img/best01.jpg");
}

.bestseller .inner ul li:nth-child(2)::before {
    background-image: url("../asset/img/best02.jpg");
}

.bestseller .inner ul li:nth-child(3)::before {
    background-image: url("../asset/img/best03.jpg");
}

.bestseller .inner ul li:nth-child(4)::before {
    background-image: url("../asset/img/best04.jpg");
}

.bestseller .scene_con {
    width: 320px;
    height: 460px;
    padding: 50px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

}

.bestseller .scene_con .txt_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}


.bestseller .scene_con .txt_box h3 {
    width: 100%;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: normal;
    letter-spacing: -2px;
}

.bestseller .scene_con .txt_box p {
    width: 100%;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -1px;
}

.bestseller .inner ul li:hover .txt_box h3,
.bestseller .inner ul li:hover .txt_box p {
    color: #fff;
}

/* =========================
   qna
   ========================= */
.qna {
    width: 100%;
    padding: 140px 0px 120px 0px;
    background: #fafafa;
}

.qna .tit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.qna .tit h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 4px;

}

.qna .tit span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.qna .tit_bottom {
    padding-top: 30px;
}

.qna .tit_bottom ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* 버튼 사이 간격 (원하면 조절) */
}

.qna .tit_bottom a:hover {
    background: #000;
    color: #fff;
}

.qna .tit_bottom a {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 999px;
}

.qna .qna_swiper {
    width: 100%;
    overflow: hidden;
    /* 슬라이드가 밖으로 튀는 거 방지 */
    padding-top: 40px;
    /* 원하는 여백 */
}

.qna .qna_swiper .swiper-wrapper {
    height: 450px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
    /* overflow: hidden; */
    margin-bottom: 150px;
}

.qna .qna_swiper .qna_card {
    width: 280px;
    height: 350px;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    background: #ebebeb;
}

.qna .qna_swiper .qna_card a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 74px 50px 0;
    box-sizing: border-box;
}

.qna .qna_swiper .qna_card a .con_top {
    width: 100%;
    height: 130px;
    border-bottom: 2px solid #000;
    display: flex;
}

.qna .qna_swiper .qna_card a .con_top .txt_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.qna .qna_swiper .qna_card a .con_top em {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    /* semibold */
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0;
    color: #666;
}

.qna .qna_swiper .qna_card a .con_top p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    /* medium */
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0;
}

.qna .qna_swiper .qna_card a .con_bottom {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px 10px 0px;
}

/* =========================
   CATEGORY
   ========================= */
.category {
    width: 100%;
    display: flex;
    justify-content: center;
}


.category .inner {
    width: 100%;
    max-width: 1880px;
    height: 800px;
    padding: 0 50px;
    margin-bottom: 160px;
    gap: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.category .txt_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category .txt_box h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 4px;
}

.category .txt_box span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.category .con_box {
    width: 100%;
    position: relative;
    height: clamp(320px, 28vw, 500px);
}

.category .con_box .con1,
.category .con_box .con2,
.category .con_box .con3 {
    border-right: 8px solid #fff;
}

.category .bg_img {
    position: absolute;
    inset: 0;
    overflow: hidden;

}

.category .bg_img img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.category .bg_img img.on {
    opacity: 1;
    z-index: 1;
}

.category .category_list {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.category .category_list>li {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category .category_list>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.category .category_list>li:hover h4 {
    color: #fff;
}

.category .category_list h4 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 46px;
    color: #000;
}

/* =========================
   SNS SECTION
   ========================= */
.sns {
    width: 100%;
    height: auto;
    background: #FAFAFA;
    padding-top: 30px;
    padding-bottom: 20px;
}

.sns .inner {
    width: 100%;
    height: 780px;
    margin-top: 80px;
    margin-bottom: 140px;
    gap: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sns .txt_box {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* 요소 간 기본 간격 (필요시 조정) */
}

.sns .txt_box span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 3.6px;
}

.sns .txt_box h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.25%;
}

.sns .txt_box p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0;
    margin: 0;
    opacity: 0.8;
    /* 선택: 보조문구 느낌(원치 않으면 삭제) */
}

.sns .sns_btn {
    padding: 20px 0;
    /* 위 아래 20 */
}

.sns .sns_btn a {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 999px;
}

.sns .sns_btn a:hover {
    background: #000;
    color: #fff;
}

.sns .con_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sns .sns_list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sns .sns_item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: nowrap;
}

.sns .sns_card {
    width: 100%;
    max-width: 380px;
    flex: 1 1 380px;
    aspect-ratio: 380 / 450;
}

.sns .stack {
    width: 100%;
    height: 100%;
    position: relative;
}

.sns .layer {
    width: 280px;
    height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sns .layer-img {
    overflow: hidden;
}

.sns .layer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.layer-text {
    background: rgba(234, 234, 234, .65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    z-index: 2;
}

.sns_card:nth-child(odd) .layer-text {
    transform: translate(-50%, -50%) rotate(-10deg);
}

.sns_card:nth-child(even) .layer-text {
    transform: translate(-50%, -50%) rotate(10deg);
}

.layer-text h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.5px;
    line-height: normal;
}

.layer-text p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: normal;
}

/* =========================
   BRAND
   ========================= */
.brand {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.brand .inner {
    width: 100%;
    height: auto;
    margin: 0 150px;
    padding: 160px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 60px;
}


.brand .txt_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
}

.brand .txt_box h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.1px;
    margin: 0;
}

.brand .txt_box span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 3.6px;
}


.brand .img_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand .img_box ul {
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brand .img_box .con {
    width: 390px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.brand .con_top {
    height: calc(100% - 200px);
    background: #ddd;
}

.brand .con_top img {
    opacity: 0.7;
}

.brand .con_bottom {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    /* 왼쪽 위 정렬 */
    justify-content: flex-start;
    box-sizing: border-box;
    /* padding 필요하면 여기서 추가 */
}

.brand .con_bottom h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0;
    margin: 0;
}

.brand .con_bottom span {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
}

.brand .con_bottom p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 27.2px;
    letter-spacing: 0;
    margin: 0;
}

.brand .more_box {
    width: 100%;
    height: auto;
    /* 허그 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 가운데 위쪽 정렬 */
    justify-content: flex-start;
    gap: 48px;
}

.brand .more_top,
.brand .more_bottom {
    width: 100%;
    height: auto;
    /* 허그 */
}

.brand .more_top {
    text-align: center;
}

.brand .more_top p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    margin: 0;
}

.brand .more_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.brand .more_bottom a {
    text-decoration: none;
    color: inherit;
}